        body
        {
        background-color:cyan;
        }
        .heading
        {
        text-align:center;
        font-size:30px;
        color:deepPink;
        }
        .img
        {
        margin-left:150px;
        float:left;
       }
       button
       {
       background-color:green;
       float:left;
       margin-left:20%;
       margin-top:5px;
       width:10%;
       height:30px;
       color:white;
       }
       button:hover
       {
       background-color:blue;
       float:left;
       width:10%;
       height:30px;
       }
       .drink
       {
       margin-right:150px;
       float:right;
       }
       .coffee_button
       {
       background-color:green;
       float:right;
       margin-right:20%;
       margin-top:5px;
       width:10%;
       height:30px;
       color:white;
       }
       .coffee_button:hover
       {
       background-color:blue;
       float:right;
       width:10%;
       height:30px;
       }
