    .heading
    {
    padding:1px;
    color:cyan;
    text-align:center;
    font-size:30px;
    }
    input[type==number],[type==name]
    {
    width:100px;
    padding:12px,20px;
    margin:8px,0;
    display:inline-block;
    border:1px
    box-sizing:border box;
    }
    button
    {
    background-color:blue;
    color:white;
    padding:14px,20px;
    margin:8px 0;
    width:10%;
    }
    div
    {
    padding:70px;
    color:yellow;
    font-size:20px;
    }
    .image
    {
    background-image:url("cafeteria.jpg");
    background-size:cover;
    background-position:center;
    height:700px;
    position:center;
    }


