<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cart</title>
</head>
<body>
<div class="container">

    <div class="heading">
      <h3>CART ITEMS</h3>

    </div>
    <div class="shopping-cart">
      <div class="cart-buttons">
        <a href="#0" class="button empty-cart-btn" id="item">Empty</a>
        <a href="#0" class="button cart-checkout">Checkout - <span class="total-count">$0</span></a>
      </div>
    </div>
  </div>
div class="fruits"><h1><em>NATURFORIA</em></h1>
    <div >
      <img src="../static/images/apple_juice.jpg" width="45%" height="25%">
        <h3>APPLE JUICE</h3>
        <p><button>Add to cart +</button></p>
    </div>
     <div >
      <img src="../static/images/orange_extract.jpg" width="35%" height="25%">
        <h3>ORANGE JUICE</h3>
        <p><button>Add to cart +</button></p>
    </div>
     <div >
      <img src="../static/images/Watermelon-Juice.jpg" width="35%" height="25%" >
        <h3>WATERMELON JUICE</h3>
        <p><button>Add to cart +</button></p>
    </div>
     <div >
      <img src="../static/images/pomegranate_juice.jpg" width="35%" height="25%">
        <h3>POMEGRANATE JUICE</h3>
        <p><button>Add to cart +</button></p>
    </div>
     <div>
      <img src="../static/images/bananas_juice.jpg" width="35%" height="25%">
        <h3>BANANA JUICE</h3>
        <p><button>Add to cart +</button></p>
    </div>
    <div >
      <img src="../static/images/guava .jpg" width="35%" height="25%">
        <h3>GUAVA JUICE</h3>
        <p><button>Add to cart +</button></p>
    </div>
    <div >
      <img src="../static/images/mango.jpg" width="35%" height="25%">
        <h3>MANGO JUICE</h3>
        <p><button>Add to cart +</button></p>
    </div>
    <div >
      <img src="../static/images/papaya.jpeg" width="35%" height="25%">
        <h3>PAPAYA JUICE</h3>
        <p><button>Add to cart +</button></p>
    </div>
    <div >
      <img src="../static/images/pineapple.jpg" width="35%" height="25%">
        <h3>PINEAPPLE JUICE</h3>
        <p><button>Add to cart +</button></p>
    </div>
    <div>
      <img src="../static/images/strawberry.jpg" width="35%" height="25%">
        <h3>STRAWBERRY JUICE</h3>
        <p><button>Add to cart +</button></p>
    </div>
<script>
    items=[]
    function addItem()
    {
    items.push(document.getElementById('item').value)
    }
</script>
</body>

