<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles/list_of_hot_beverages.css">
    <script src="../static/scripts/cart2.js"></script>


</head>
<body>


<div class="drink"><h1><em> WARM DRINKS</em></h1>

    <div >
      <img src="../static/images/tea.jpeg" width="25%">
        <h3>TEA</h3>

        <input type="button" value="Add to cart" onclick="Add_to_cart('Tea')"/>

    </div>
    <div >
      <img src="../static/images/coffee.jpg" width="25%">
        <h3>COFFEE</h3>
       <input type="button" value="Add to cart" onclick="Add_to_cart('Coffee')"/>

    </div>
    <div >
      <img src="../static/images/lemon_tea.jpg" width="25%">
        <h3> LEMON TEA</h3>
        <input type="button" value="Add to cart" onclick="Add_to_cart('Lemon tea')"/>
    </div>
    <div >
      <img src="../static/images/green_tea.jpg" width="25%">
        <h3>GREEN TEA</h3>
        <input type="button" value="Add to cart" onclick="Add_to_cart('Green tea')"/>
    </div>
    <div >
      <img src="../static/images/milk.jpg" width="25%">
        <h3>MILK</h3>
         <input type="button" id="numeric" value="Add to cart" onclick="Add_to_cart('milk')"/>


</div>
<div class="sidebar">
        <a href="#cart">CART ITEMS</a>

    <table>
        <td valign="top">
            <table cellpadding="5" cellspacing="4" border="1" id="orderedProductsTbl">
                <thead>
                  <tr>
                      <td>
                          <label for="NAME ID">NAME ID:</label>
                      </td>
                      <td>
                         <input id="NAMEID" name="product" type="text" size="28" required/>
                      </td>


                       <td>
                           Quantity
                      </td>



                    </tr>
                </thead>
                <tbody id="orderedProductsBody">

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" align="right" id="cart_total">

                        </td>
                    </tr>
                </tfoot>
            </table>
            <input type="reset" name="reset" id="resetbtn" class="resetbtn" value="Reset" />
    <input type="button" id="btnAddProduct" onclick="addProduct();" value="Add New Product" >

<br>
<p id="demo"></p> <br/>
<h2> Shopping Cart </h2>
<p id="demo2"></p>
<h2>Grand Total:</h2>
<p id="demo3"></p>
</body>
</html>
