<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FRUITS_LIST</title>
    <link rel="stylesheet" href="../static/styles/list_of_cold_beverages.css">
</head>
<body>
<div class="sidebar">
  <a href="#cart">CART ITEMS</a>
</div>


<div class="fruits"><h1><em>NATURFORIA</em></h1>
    <div >
      <img src="../static/images/apple_juice.jpg" width="45%" height="25%">
        <h3>APPLE JUICE</h3>
        <p><button>Add to cart +</button></p>
    </div>
     <div >
      <img src="../static/images/orange_extract.jpg" width="35%" height="25%">
        <h3>ORANGE JUICE</h3>
        <p><button>Add to cart +</button></p>
    </div>
     <div >
      <img src="../static/images/Watermelon-Juice.jpg" width="35%" height="25%" >
        <h3>WATERMELON JUICE</h3>
        <p><button>Add to cart +</button></p>
    </div>
     <div >
      <img src="../static/images/pomegranate_juice.jpg" width="35%" height="25%">
        <h3>POMEGRANATE JUICE</h3>
        <p><button>Add to cart +</button></p>
    </div>
     <div>
      <img src="../static/images/bananas_juice.jpg" width="35%" height="25%">
        <h3>BANANA JUICE</h3>
        <p><button>Add to cart +</button></p>
    </div>
    <div >
      <img src="../static/images/guava .jpg" width="35%" height="25%">
        <h3>GUAVA JUICE</h3>
        <p><button>Add to cart +</button></p>
    </div>
    <div >
      <img src="../static/images/mango.jpg" width="35%" height="25%">
        <h3>MANGO JUICE</h3>
        <p><button>Add to cart +</button></p>
    </div>
    <div >
      <img src="../static/images/papaya.jpeg" width="35%" height="25%">
        <h3>PAPAYA JUICE</h3>
        <p><button>Add to cart +</button></p>
    </div>
    <div >
      <img src="../static/images/pineapple.jpg" width="35%" height="25%">
        <h3>PINEAPPLE JUICE</h3>
        <p><button>Add to cart +</button></p>
    </div>
    <div>
      <img src="../static/images/strawberry.jpg" width="35%" height="25%">
        <h3>STRAWBERRY JUICE</h3>
        <p><button>Add to cart +</button></p>
    </div>
</div>
</div>

</body>