<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles/list_of_hot_beverages.css">


</head>
<body>

<div class="sidebar">
  <a href="#cart">CART ITEMS</a>
</div>
<div class="drink"><h1><em> WARM DRINKS</em></h1>

    <div >
      <img src="../static/images/tea.jpeg" width="25%">
        <h3>TEA</h3>
        <p><button>Add to cart +</button></p>
    </div>
    <div >
      <img src="../static/images/coffee.jpg" width="25%">
        <h3>COFFEE</h3>
        <p><button>Add to cart +</button></p>
    </div>
    <div >
      <img src="../static/images/lemon_tea.jpg" width="25%">
        <h3> LEMON TEA</h3>
        <p><button>Add to cart + </button></p>
    </div>
    <div >
      <img src="../static/images/green_tea.jpg" width="25%">
        <h3>GREEN TEA</h3>
        <p><button>Add to cart +</button></p>
    </div>
    <div >
      <img src="../static/images/milk.jpg" width="25%">
        <h3>MILK</h3>
        <p><button>Add to cart +</button></p>
    </div>

</div>
</div>

</body>
</html>
