<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles/login_page.css"/>
</head>
<body>
<div class="heading">
       <h2><i>BURST YOUR THIRST</i></h2>
       <p><h2><i>BY SELECTING ONE</i></h2></p>
</div>
<div class="img">
    <img src="../static/images/juice.jpg" height="250"/>
</div>
<div class="drink">
    <img src="../static/images/hot_drinks.jpg" height="250"/>
</div>
<form action="list_of_cold_beverages.html">
    <button type="submit">Click Me</button>
</form>
<form action="list_of_hot_beverages.html">
    <button class="coffee_button">Click Me</button>
</form>
</body>
</html>