<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>app creation</title>
    <link rel="stylesheet" href="../static/styles/welcome_page.css"/>
<body>
<div class="image">
    <div class="heading">
        <h2><em>WELCOME TO THOUGHT WORKS</em></h2>
        <p><h2><em> MOONSHINE</em></h2></p>
    </div>
    <form name="ordering" action="login_page.html" onsubmit=" validation()" method="post">
        <div>
            <p>For Ordering Beverages:</p>
            <label for="numeric">Kindly, Enter Your Id:</label>
            <input type="number" id="numeric">
            <button type="submit">Next-></button>
        </div>
        <div>
            <span>Visitors: <button type="submit">Click Here</button></span>

    </form>
    <div>

          <p>Official Use:</p>
          <label for="word">Enter your Name:</label>
          <input type="text" id="word">
          <button type="submit">Next</button>

    </div>
</div>
</body>
</html>

