        h1
        {
        text-align:center;
        color:navy;
        }
        *
        {
        box-sizing:border-box;
        }
        .div
        {
        float:left;
        width:35%;
        border:1px solid black;
        margin:400px;


        }
        button
        {
        background-color:navy;
        color:white;
        padding:14px,20px;
        margin:8px 0;
        width:45%;
        font-size:20px;
        }
        body
        {
        background-color:pink;
        }
        .fruits
        {
        float:left
        display:table;
        margin-right: 250px;
        font-size: 28px;
        padding: 0px 150px;
        }
        .sidebar
        {
         height: 100%;
         width:250px;
         position: fixed;
         z-index: 1;
         top: 0;
         right: 0;
         background-color:cyan;
         padding-top: 20px;
         }
        .sidebar a
        {
         padding: 6px 8px 6px 16px;
         font-size: 25px;
         color:blue;
         display: block;
        }
        .sidebar a:hover
        {
        color:green;
        }
