
 .sidebar
  {
  height: 100%;
  width:400px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:navy;
  padding-top: 20px;
  }

  .sidebar a
  {
  padding: 6px 8px 6px 16px;
  font-size: 25px;
  color:yellow;
  display:block;
  }
  h1
  {
   text-align:center;
   color:gold;
   padding:10px;
   }
   *
   {
    box-sizing:border-box;
    color:orange;
    border-color:red;


    }

   .div
   {
    float:left;
    width:25%;
    border:1px solid yellow;
    margin:4px;
    display:table;
    text-align:center;


    }
    button
    {
     background-color:navy;
        color:white;

        margin:8px 0;
        width:25%;
        font-size:20px;
        }
        body
        {
        background-color:maroon;
        }



        .drink
        {
        float:left
        display:table;
        margin-right: 250px;
        font-size: 28px;
        padding: 0px 20px;
        }
        .quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}

button:focus,
input:focus {
  outline:0;
}

